<!DOCTYPE html>

<head>
    <title>Profil de l'utilisateur</title>
</head>
<body>
    <h1>Profil de <%= utilisateur.nom %></h1>
    <p>Email : <%= utilisateur.email %></p>
    <!-- Ajoutez d'autres informations de l'utilisateur ici -->
</body>
</html>
